@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

.navbar {
  background-color: transparent !important;
}

.navbar .nav-link {
  color: white !important;
  transition: color 0.3s ease, transform 0.3s ease;
  font-size: large;
}

.navbar .nav-link:hover {
  color: #ffb400 !important; 
  transform: translateY(-2px);
}

.navbar .nav-link.active {
  color: #ffb400 !important;
  font-weight: 600;
}
.navbar-brand 
{

    font-size: 30px;
    font-family: "Festive", cursive;
    letter-spacing: 4px;
}
